venv/
__pycache__/
*.pyc
data/raw/
data/train/
data/val/
data/test/
checkpoints/misclassified/
.DS_Store
*.egg-info/
data/
*.tar.gz
*.zip
*.h5
*.keras
*.pth
*.pt

!checkpoints/best_model.pt
!checkpoints/breed_model.pt